<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <button type="submit">제출</button>
</form>
<a href="/oauth2/authorization/google">google login</a>
<a href="/oauth2/authorization/facebook">facebook login</a>
<a href="/oauth2/authorization/naver">naver login</a>
<a href="/oauth2/authorization/kakao">kakao login</a>
<a href="/joinForm">회원가입 </a>
</body>
</html>